<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603937311096-fq3fovl9jqtt5j6mv6h80fkgs9btuu17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603937311096-fq3fovl9jqtt5j6mv6h80fkgs9btuu17</string>
	<key>API_KEY</key>
	<string>AIzaSyAcf77XokuJN_yvmhn53Ll2m_GOfXSLkzA</string>
	<key>GCM_SENDER_ID</key>
	<string>603937311096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Dose</string>
	<key>PROJECT_ID</key>
	<string>dose-1a0df</string>
	<key>STORAGE_BUCKET</key>
	<string>dose-1a0df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603937311096:ios:f66685a665bb39e699a08d</string>
</dict>
</plist>